application/target/
model/generated-classes
!.mvn/wrapper/maven-wrapper.jar
.DS_Store
*secrets.properties
seleniumtests/target/
target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr


